.inventory-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px 5px;
}

.item {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: black;
  border: 1px solid #333;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding-top: 10px;
}

.item img {
  width: 40px;
  height: 40px;
}

.item .quantity {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: black;
  border-radius: 5px;
  padding: 0px 4px;
  box-sizing: border-box;
}