body, html {
  background-color: #282c34;
  color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  grid-gap: 100px;
}